@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --inat-orage: #fe6501;
  --inat-blue: #007bdc;
  --inat-black: #222;

  --max-reading-width: 40rem;

  font-family: "Open Sans", sans-serif;
  color: var(--inat-black);
}

header {
  text-align: center;
}

header img {
  width: 100%;
  max-width: 20rem;
}

header h1 {
  font-size: 1.2rem;
}

.button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: var(--inat-blue);
  color: white;
  font-size:1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--inat-orage);
}

header, main, footer {
  max-width: var(--max-reading-width);
  margin: auto;
  padding: 1rem;
}

h2 {
  color: var(--inat-blue);
  font-size: 1.2rem;
}

em {
  font-style: normal;
  text-decoration: underline;
}

.notification-alert {
  padding: 1em;
  border: 1px solid rgb(192 64 0);
  border-radius: 0.5rem;
  background-color: rgb(192 64 0 / 5%);
  color: rgb(192 64 0);
  font-size: 0.9rem;
  /* font-weight: bold; */
}

.key-dates-list {
  list-style: square;
}

.key-date-label {
  font-weight: bold;
}

.key-date-description {
  margin-top: 0;
}

.eligibility-projects-types-list {
  list-style: "★  ";

}

.prizes-list {
  display: grid;
  width: fit-content;
  margin: auto;
  grid-template-columns: auto 1fr;
  list-style: "🏆  ";
}

.prizes-list dt {
  font-weight: bold;
  padding: 0.25rem;
}

.prizes-list dd {
  margin-left: 0;
  padding: 0.25rem;
  text-align: center;
}

.prizes-list dt:nth-of-type(odd) {
  background-color: #f0f0f0;
}

.prizes-list dd:nth-of-type(odd) {
  background-color: #f0f0f0;
}

.footer-links {
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

.footer-links a {
  color: var(--inat-black);
}